---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import WeAreDifferent from '../components/WeAreDifferent.astro';
import FindOutMore from '../components/FindOutMore.astro';
import Footer from '../components/Footer.astro'
---

<Layout title='Frontend Mentor | Insure landing page'>
	<main>
		<Hero />
		<WeAreDifferent />
		<FindOutMore />
		<Footer />
	</main>
</Layout>
