<div class='social-media'>
	<a href='https://www.linkedin.com/in/fededmartinez/' target='_blank'>
		<img
			class='social-media-icon'
			src='/images/icons-linkedin.svg'
			alt='linkedin icon'
		/>
	</a>
	<a href='https://github.com/fdmarti' target='_blank'>
		<img
			class='social-media-icon'
			src='/images/icons-github.svg'
			alt='github icon'
		/>
	</a>
</div>
<style>
	.social-media {
		display: flex;
		gap: 1rem;
	}

	.social-media img {
		color: var(--darkVioleta);
		width: 30px;
	}

	.social-media img:hover {
		cursor: pointer;
		opacity: 0.7;
	}
</style>
